{% extends 'base.html' %}

{% block content %}
<div style="margin: auto;width: 80%;">
    <h1>Cash: {{total_cash_available or 0}}</h1>
</div>
    <form action="/account" method="post">
        <div class="input-div">
            <label for="room">Room No.: </label>
            <select name="room" id="room">
                <option value="Credit">Credit</option>
                {% for room in rooms %}
                    {% if room['Status'] == 2 %}
                        <option value="{{room['Room No.']}}">{{room['Room No.']}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="input-div">
            <label for="amount">Amount: </label>
            <input type="number" name="amount" id="amount" required>
        </div>
        <div class="input-div">
            <label for="mode">Mode: </label>
            <input type="text" name="mode" id="mode" list="modes" required>
            <datalist id="modes">
                <option value="Cash">Cash</option>
                <option value="UPI">UPI</option>
                <option value="Bank Transfer">Bank Transfer</option>
            </datalist>
        </div>
        <div class="input-div">
            <label for="description">Description: </label>
            <input type="text" name="description" id="description" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Date & Time</th>
                <th>Name</th>
                <th>Room No.</th>
                <th>Amount Paid</th>
                <th>Mode Of Payment</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
                <tr>
                    <td> {{'-'.join(payment['datetime'].split('T')[0].split('-')[::-1])}} {{payment['datetime'].split('T')[1]}}</td>
                    <td>{{payment['Name']}}</td>
                    <td>{{payment['room']}}</td>
                    <td>{{payment['amount']}}</td>
                    <td>{{payment['mode']}}</td>
                    <td>
                        <button onclick="submitUpdateAmount(`{{payment['id']}}`, `{{payment['amount']}}`)">Edit</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function submitUpdateAmount(id, amount) {
            let new_amount = prompt("Enter New Amount: ", amount);
            if (new_amount !== null) {
                fetch(`/update_payment?id=${id}&amount=${new_amount}`, {method: 'GET'}).then(res =>res.json()).then(data => {
                    if (data.success) {
                        window.location = '/account'
                    }
                })
            } else {

            }
        }
    </script>
{% endblock %}