<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="row">
        <div class="nav-head"><h1>Hotel Maheswari Inn</h1></div>
        <div class="nav-content">
            <ul class="row">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/inventory">Inventory</a></li> -->
                <li><a href="/account">Account</a></li>
                <li><a href="/report">Report</a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>