{% extends 'base.html' %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Customer</h5>
            <div class="input-group mb-3">
                <span class="input-group-text">Search</span>
                <input type="text" id="searchInput" class="form-control">
            </div>
            <div class="mb-3">
                <table class="table" id="customerTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Address</th>
                            <th scope="col">Phone</th>
                            <th scope="col">ID Type</th>
                            <th scope="col">ID Detail</th>
                            <th scope="col">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td scope="row"><span style="font-size: 18px; cursor: pointer;"  data-api-id="{{customer['id']}}" data-bs-target="#customerAnalysisModal{{customer['id']}}" data-bs-toggle="modal">&#9432;</span> {{customer['n']}}
                                <div class="modal modal-xl fade" tabindex="-1" id="customerAnalysisModal{{customer['id']}}" aria-hidden="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">{{customer['n']}}</h5>
                                                <button class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <h4><b>Total Visits: </b> <span id="tv{{customer['id']}}">Loading...</span></h4>
                                                    <h4><b>Total Amount Paid: </b><span id="ap{{customer['id']}}">Loading...</span></h4>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Room No.</th>
                                                            <th scope="col">Check In</th>
                                                            <th scope="col">Check Out</th>
                                                            <th scope="col">Time Passed</th>
                                                            <th scope="col">Rent Per Day</th>
                                                            <th scope="col">Amount Paid</th>
                                                            <th scope="col">Remaining Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="customerDataTable{{customer['id']}}">
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </td>
                                <td>{{customer['a']}}</td>
                                <td>{{customer['p']}}</td>
                                <td>{{customer['it']}}</td>
                                <td>{{customer['ip']}}</td>
                                <td>
                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCustomerModal{{customer['id']}}">Edit</button>
                                    <div class="modal modal-lg fade" tabindex="-1" id="editCustomerModal{{customer['id']}}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Edit Customer</h5>
                                                    <button class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/customer/update" method="post">
                                                        <input type="hidden" name="id" id="id" value="{{customer['id']}}" />
                                                        <div class="input-group mb-2">
                                                            <span class="input-group-text">Name.</span>
                                                            <input type="text" name="name" id="name" class="form-control" value="{{customer['n']}}">
                                                            <span class="input-group-text ms-2">Phone</span>
                                                            <input type="number" name="phone" id="phone" class="form-control" value="{{customer['p']}}">
                                                        </div>
                                                        <div class="input-group mb-2">
                                                            <span class="input-group-text">Address</span>
                                                            <input type="text" name="address" id="address" class="form-control" value="{{customer['a']}}">
                                                        </div>
                                                        <div class="input-group mb-2">
                                                            <span class="input-group-text">ID Type</span>
                                                            <input type="text" name="id_type" id="id_type" class="form-control" value="{{customer['it']}}" required>
                                                            <span class="input-group-text ms-2">ID Detail</span>
                                                            <input type="text" name="id_detail" id="id_detail" class="form-control" value="{{customer['ip']}}" required>
                                                        </div>
                                                        <div class="input-group">
                                                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                                                            <button type="button" class="btn btn-secondary form-control ms-2" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <button class="btn btn-success">View History</button> -->
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#customerTable tbody tr").filter(function() {
                $(this).toggle($(this).text().replace(/\s+/g, '').toLowerCase().indexOf(value.replace(/\s+/g, '')) > -1)
                });
            });
        });
        $("span").on('click', (e) => {
            let k = e.target.getAttribute('data-api-id');
            console.log(k, typeof(k));
            fetch(`/api/analysis/customer?id=${k}`).then(res => {
                if (!res.ok) {
                    throw new Error(`HTTP Error! Status: ${res.status}`);
                }
                return res.json();
            }).then(res => {
                console.log(res);
                $(`#tv${k}`).text(res['tv']);
                $(`#ap${k}`).text(res['tap']);
                $(`#customerDataTable${k}`).html('')
                res['visits'].forEach(visit => {
                    let tr = $('<tr></tr>');
                    ['rno', 'cin', 'cout', 'time_passed', 'rpd', 'amount_paid', 'remaining_balance'].forEach((val) => {
                        tr.append($('<td></td>').text(visit[val]));
                    })
                    $(`#customerDataTable${k}`).append(tr);
                })
                console.log($(`#customerDataTable${k}`))
            }).catch(err => {
                console.log('Error: ' + String(err));
            })
        });
        $(".nav-link")[4].classList.toggle('active', true);
    </script>
{% endblock %}