{% extends 'base.html' %}

{% block content %}
    {% if 'check_in' in formData %}
        <h1>Time Passed: {{time_passed}}</h1>
        <h1>Amount Paid: {{amount_paid}}</h1>
        <form action="/shift" method="post" style="margin-bottom: 3em;">
            <h2>Shift Room</h2>
            <input type="hidden" name="from_" id="from_" value="{{room_no}}">
            <select name="to" id="to">
                {% for room in available_rooms %}
                    <option value="{{room['Room No.']}}">{{room['Room No.']}}</option>
                {% endfor %}
            </select>
            <div class="submit-div">
                <button type="submit">Submit</button>
            </div>
        </form>
    {% endif %}
    <div class="selection">
        <button data-toggle="selectCustomer">Select Customer</button>
        <div class="modal" id="selectCustomer">
            <div class="modal-head">
                <h1>Select Customer</h1>
                <span style="font-size: 52px;cursor: pointer;" id="close-modal">&times;</span>
            </div>
            <div class="modal-body">
                <p>(Press ESC to close.)</p>
                <input type="text" id="searchName" placeholder="Name" autocomplete="off">
                <input type="number" id="searchPhone" placeholder="Phone No.">
                <div class="options" id="options">
                    
                </div>
            </div>
        </div>
    </div>
    <form action="/room/{{room_no}}" method="post" autocomplete="off">
        <div class="input-div">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ formData['name'] }}" list="namelist" required>
            <datalist id="namelist">
                
            </datalist>
        </div>
        <div class="input-div">
            <label for="phone">Phone No.</label>
            <input type="number" name="phone" id="phone" value="{{ formData['phone'] }}" required>
        </div>
        <div class="input-div">
            <label for="address">Address</label>
            <input  type="text" name="address" id="address" value="{{ formData['address'] }}" required>
        </div>
        <div class="input-div">
            <label for="id_type">ID Proof</label>
            <input type="text" name="id_type" id="id_type" list="id_type_options" autocomplete="off" value="{{ formData['id_type'] }}" required>
            <datalist id="id_type_options">
                <option value="Aadhar">Aadhar</option>
                <option value="Driving License">Driving License</option>
                <option value="Passport">Passport</option>
                <option value="PAN">PAN</option>
            </datalist>
        </div>
        <div class="input-div">
            <label for="id_detail">ID Details</label>
            <input type="text" name="id_detail" id="id_detail" value="{{ formData['id_detail'] }}" required>
        </div>
        <div class="input-div">
            <label for="pov">Purpose Of Visit</label>
            <input type="text" name="pov" id="pov" value="{{ formData['pov'] }}" required>
        </div>
        <div class="input-div">
            <input type="radio" name="ac" id="ac" value="ac" {{ 'checked' if formData['ac'] == 'AC' }} required>
            <label for="ac">AC</label>
            <input type="radio" name="ac" id="non_ac" value="non_ac" {{ 'checked' if formData['ac'] == 'NON_AC' }} required>
            <label for="non_ac">Non AC</label>
        </div>
        <div class="input-div">
            <label for="rpd">Room Rent Per Day:</label>
            <input type="number" name="rpd" id="rpd" value="{{ formData['rpd'] }}" required>
        </div>
        <div class="input-div">
            <label for="check_in">Check In</label>
            <input type="datetime-local" name="checkin" id="check_in" value="{{ formData['check_in'] }}" required>
        </div>
        {% if formData['check_in'] %}
            <div class="input-div">
                <label for="check_out">Check Out</label>
                <input type="datetime-local" name="checkout" id="check_out" value="{{ formData['check_out'] }}">
            </div>
        {% endif %}
        <div class="submit-div">
            <button type="submit">Submit</button>
        </div>
    </form>
    <script>
        function setData(data) {
            document.getElementById('name').value = data.Name;
            document.getElementById('phone').value = data.Phone;
            document.getElementById('address').value = data.Address.replaceAll('|', ',');
            document.getElementById('id_type').value = data['Id Type'];
            document.getElementById('id_detail').value = data['Id Detail'];
            document.getElementById('selectCustomer').style.display = 'none';
        }
        function send_api_req() {
            fetch('http://127.0.0.1/api/search?name='+document.getElementById('searchName').value+'&phone='+document.getElementById('searchPhone').value).then((res) => {
                if (!res.ok) {
                    console.log(res.status);
                }
                return res.json();
            }).catch((err) => {}).then((data) => {
                const nl = document.getElementById('options');
                nl.innerHTML = '';
                for (let i = 0;i < data.length;i++) {
                    const opt = document.createElement('div');
                    opt.setAttribute('class', 'option-selection')
                    opt.onclick = (eve) => {
                        setData(data[i]);
                    }
                    opt.innerHTML = `${data[i].Name}&emsp;${data[i].Phone}`;
                    nl.appendChild(opt);
                }
            }).catch(err => {
            })
        }
        
        document.getElementById('searchName').addEventListener('keyup', (e) => {
            // if ('qertyuiopasdfghjklzxcvbnm1234567890'.includes(e.key.toLowerCase()))
                send_api_req();
        })
        document.getElementById('searchPhone').addEventListener('keyup', (e) => {
            // if ('qertyuiopasdfghjklzxcvbnm1234567890'.includes(e.key.toLowerCase()))
                send_api_req();
        })
        const element = document.querySelector('[data-toggle]');
        element.onclick = (e) => {
            const modalElement = document.getElementById(e.target.dataset.toggle);
            modalElement.style.display = 'block';
            const handleEscape = (e) => {
                if (e.type === 'click') {
                    modalElement.style.display = 'none';
                    document.removeEventListener('keyup', handleEscape);
                }
                if (e.type === 'keyup' && e.key === 'Escape') {
                    modalElement.style.display = 'none';
                    document.removeEventListener('keyup', handleEscape);
                }
            };
            document.getElementById('close-modal').addEventListener('click', handleEscape)
            document.addEventListener('keyup', handleEscape);
        }
    </script>
{% endblock %}