{% extends 'base.html' %}
{% block content %}
    <form action="/report" method="post">
        <div class="input-div">
            <label for="date">Date</label>
            <input type="date" name="date" id="date" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Count</th>
            </tr>
        </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>{{data}}</td>
            <td>{{datas[data]}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}