{% extends 'base.html' %}
{% block content %}
    <div class="modal modal-xl fade" tabindex="-1" id="selectCustomerModal" aria-labelledby="selectCustomerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header mb-2">
                        <h5 class="modal-title">Add Customer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <label for="searchName" class="input-group-text">Name</label>
                            <input type="text" id="searchName" class="form-control" placeholder="Name">
                            <label for="searchPhone" class="ms-2 input-group-text">Phone</label>
                            <input type="number" id="searchPhone" class="form-control" placeholder="Phone">
                            <label for="searchAddress" class="ms-2 input-group-text">Address</label>
                            <input type="text" id="searchAddress" class="form-control" placeholder="Address">
                        </div>
                        <div class="input-group mb-3">
                            <label for="searchIDType" class="input-group-text">ID Type</label>
                            <input type="text" id="searchIDType" class="form-control" placeholder="ID Type">
                            <label for="searchIDDetail" class="ms-2 input-group-text">ID Detail</label>
                            <input type="text" id="searchIDDetail" class="form-control" placeholder="ID Detail">
                        </div>
                        <div class="input-group">
                            <button id="submitSelectModal" class="btn btn-success form-control" data-bs-dismiss="modal">Submit</button>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">ID Type</th>
                                    <th scope="col">ID Detail</th>
                                    <th scope="col">Operation</th>
                                </tr>
                            </thead>
                            <tbody id="customerDetails"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <h2 class="ms-3">🛌Room No.: {{ roomno }}</h2>
    {% if status == 2 %}
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h5>💰Payment Information</h5>
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Date & Time</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Mode</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td scope="row">{{payment['t']}}</td>
                                    <td>{{payment['a_x']}}</td>
                                    <td>{{payment['m']}}</td>
                                    <td>{{payment['d']}}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td scope="row"><strong>Total</strong></td>
                                <td><strong>{{total_payment}}</strong></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container-fluid row">
        <div class="{{'col-lg-8' if status == 2 else 'col-lg-12' }}">
            <div class="card">
                <div class="card-body">
                    <form action="/room/{{ roomno }}" method="post" autocomplete="off">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="card-title">Customer Details</div>
                            <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#selectCustomerModal">Select Customer</button>
                            <div class="input-group mb-3">
                            <label for="name"><span class="input-group-text">Name</span></label>
                            <input type="text" name="name" id="name" class="form-control" value="{{name}}" required disabled />
                            <label for="phone"><span class="input-group-text ms-4">Phone</span></label>
                            <input type="number" name="phone" id="phone" class="form-control" value="{{phone}}" required disabled />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Address</span>
                            <input type="text" name="address" id="address" class="form-control" value="{{address}}" required disabled />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">ID Type</span>
                            <input type="text" name="id_type" id="id_type" class="form-control" value="{{id_type}}" required disabled />
                            <datalist id="id_type_list">
                                <option value="AADHAR">AADHAR</option>
                                <option value="PASSPORT">PASSPORT</option>
                                <option value="DRIVING LICENSE">LICENSE</option>
                            </datalist>
                            <span class="input-group-text ms-3">ID Detail</span>
                            <input type="text" name="id_detail" id="id_detail" class="form-control" value="{{id_detail}}" required disabled />
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">Room Detail</div>
                        <div class="input-group mb-3">
                            <label for="ac">
                                <span class="input-group-text">
                                    <input type="radio" class="form-check-input me-2" name="ac" id="ac" value="ac" {{"checked" if ac == "AC" }} required /> AC
                                </span>
                            </label>
                            <label for="non_ac">
                                <span class="input-group-text ms-4">
                                    <input type="radio" class="form-check-input me-2" name="ac" id="non_ac" value="non_ac" {{ "checked" if ac == "NON_AC" }} required /> Non AC
                                </span>
                            </label>
                                <span class="input-group-text ms-4">Purpose of Visit</span>
                            <input type="text" name="pov" id="pov" class="form-control" value="{{ pov }}" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Room Rent Per Day</span>
                            <input type="number" name="rpd" id="rpd" class="form-control" value="{{ rpd }}" required />
                            <span class=" ms-2 input-group-text">Check In</span>
                            <input type="datetime-local" name="checkin" id="checkin" class="form-control" value="{{ checkin }}" required>
                        </div>
                        {% if status == 2 %}
                        <div class="input-group mb-3">
                            <span class="input-group-text">Check Out</span>
                            <input type="datetime-local" name="checkout" id="checkout" class="form-control">
                            <span class="input-group-text ms-2">GST Bill No.</span>
                            <input type="text" name="gst_bill" id="gst_bill" class="form-control" value="{{ gst_bill }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary form-control">Submit</button>
            </form>
            </div>
        </div>
        </div>
        {% if status == 2 %}
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">Add Payment</div>
                    <form action="/transaction" method="post">
                        <input type="hidden" name="roomno" value="{{roomno}}">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Amount</span>
                            <input type="text" name="amount" id="amount" class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Mode</span>
                            <input type="text" name="mode" id="mode" class="form-control" list="mode_of_payment" autocomplete="off" />
                            <datalist id="mode_of_payment">
                                <option value="Cash">Cash</option>
                                <option value="UPI">UPI</option>
                                <option value="Bank Transfer">Bank Transfer</option>
                            </datalist>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Description</span>
                            <input type="text" name="description" id="description" class="form-control" />
                        </div>
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Room Shift</div>
                    <form action="/shift" method="post">
                        <input type="hidden" name="room" id="room" value="{{roomno}}">
                        <div class="input-group mb-3">
                            <select name="nroom" id="nroom" class="form-select">
                                <option value="">Select Room</option>
                                {% for room in empty_room %}
                                    <option value="{{ room['r'] }}">{{ room['r'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <button type="shift" class="btn btn-primary form-control">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <script>
        function overWriteTable(id, attrib, data) {
            const _table = document.getElementById(id);
            _table.innerHTML = ''
            data.forEach((element) => {
                const row = document.createElement('tr');
                attrib.forEach((h) => {
                    const cell = document.createElement('td');
                    cell.innerText = element[h];
                    row.appendChild(cell);
                })
                const optd = document.createElement('td');
                const selectButton = document.createElement('button');
                selectButton.innerText = 'Select'
                selectButton.classList = 'btn btn-success'
                selectButton.setAttribute('data-bs-dismiss', 'modal');
                selectButton.onclick = (eve) => {
                    set_data(element);
                }
                optd.appendChild(selectButton);
                row.appendChild(optd);
                _table.appendChild(row);
            })
        }

        function searchCustomer() {
            const user = {
                'name': document.getElementById('searchName').value,
                'phone': document.getElementById('searchPhone').value,
                'address': document.getElementById('searchAddress').value,
                'idtype': document.getElementById('searchIDType').value,
                'iddetail': document.getElementById('searchIDDetail').value,
            }
            const req = fetch(`/api/sc?name=${user.name}&phone=${user.phone}&address=${user.address}&idtype=${user.idtype}&iddetail=${user.iddetail}`).then(val => {
                return val.json();
            });
            req.then((data) => {
                overWriteTable('customerDetails', ['n', 'p', 'a', 'it', 'ip'], data);
            });
        }
        const searchInputArray = document.getElementById('selectCustomerModal').getElementsByTagName('input');
        for (let i = 0;i < searchInputArray.length;i++) {
            searchInputArray.item(i).addEventListener('keyup', (eve) => {
                searchCustomer();
            })
        }
        
        function set_data(data) {
            $('#name').val(data.n);
            $('#address').val(data.a);
            $('#phone').val(data.p);
            $('#id_type').val(data.it);
            $('#id_detail').val(data.ip);
        };

        $("#submitSelectModal")[0].onclick = (eve) => {
            $('#name').val($("#searchName").val());
            $('#address').val($("#searchAddress").val());
            $('#phone').val($("#searchPhone").val());
            $('#id_type').val($("#searchIDType").val());
            $('#id_detail').val($("#searchIDDetail").val());
        }

        $(".nav-link")[0].classList.toggle('active', true);
    </script>
{% endblock %}