{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="row">
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Name" autocomplete="off">
        </div>
        <div class="input-group">
            <label for="address">Address</label>
            <input type="text" id="address" placeholder="Address" autocomplete="off">
        </div>
        <div class="input-group">
            <label for="phone">Phone</label>
            <input type="number" id="phone" placeholder="Phone" autocomplete="off">
        </div>
        <div class="input-group">
            <label for="check_in">Check In</label>
            <input type="date" id="check_in" placeholder="Check In" autocomplete="off">
        </div>
        <div class="input-group">
            <label for="check_out">Check Out</label>
            <input type="date" id="check_out" placeholder="Check Out" autocomplete="off">
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            <label for="remain_balance_gt">Remain Balance &gt;</label>
            <input type="number" id="remain_balance_gt" placeholder="Remain Balance > " autocomplete="off">
        </div>
        <div class="input-group">
            <label for="remain_balance_lt">Remain Balance &lt;</label>
            <input type="number" id="remain_balance_lt" placeholder="Remain Balance &lt; " autocomplete="off">
        </div>
        <div class="input-group">
            <label for="room_no">Room No</label>
            <input type="text" id="room_no" placeholder="Room No." autocomplete="off">
        </div>
        <div class="input-group">
            <label for="page">Page No.</label>
            <input type="number" id="page" placeholder="Page" autocomplete="off">
        </div>
        <div class="input-group">
            <label for="per_page">Per Page</label>
            <select id="per_page" placeholder="Page" autocomplete="off">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>
    <div class="row">
        <button class="btn-success" id="btn-search">Search</button>
    </div>
    <table class="table-wrapper">
        <thead>
            <tr>
                <th>Sl. No. <br /> Room No</th>
                <th>Name <br /> Address</th>
                <th>Phone <br /> Email</th>
                <th>Check In <br /> Check Out</th>
                <th>Time Passed<br />Total Amount</th>
                <th>Total Paid<br />Remaining Balance</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody id="register_body">
            <!-- {% for entry in register %}
                <tr>
                    <td>{{ entry['reg_id'] or entry['id'] }}<br />{{ entry['room_number'] }}</td>
                    <td>{{ entry['name'] }}<br />{{ entry['address'] }}</td>
                    <td>{{ entry['phone'] }}<br />{{ entry['email'] or '' }}</td>
                    <td>{{ entry['check_in'] }}<br />{{ entry['check_out'] or 'Present' }}</td>
                    <td>{{ entry['time_passed'] }}<br />{{ entry['total_balance'] }}</td>
                    <td>{{ entry['total_paid'] }}<br />{{ entry['remaining_balance'] }}</td>
                    <td>
                        <a href="{{entry['id']}}"><button class="btn-primary">Edit</button></a>
                    </td>
                </tr>
            {% endfor %} -->
        </tbody>
    </table>
    <div class="row">
        <button id="btn-prev">Prev</button>
        <button id="btn-next">Next</button>
    </div>
    <script>
        const fields = [
            'name',
            'address',
            'phone',
            'check_in',
            'check_out',
            'remain_balance_gt',
            'remain_balance_lt',
            'room_no',
        ];

        const fields2 = [
            'page',
            'per_page',
        ]
        function collectFilters() {
            const filters = {};


            fields.forEach(id => {
                const el = document.getElementById(id);
                if (el && el.value !== '') {
                    filters[id] = el.value;
                }
            });
            
            fields2.forEach(id => {
                const el = document.getElementById(id);
                if (el && el.value !== '') {
                    filters[id] = el.value;
                }
            });

            return filters;
        }

        function redrawRegisterTable(data) {
            const tbody = document.getElementById('register_body');
            tbody.innerHTML = ''; // clear old rows

            data.forEach(entry => {
                const tr = document.createElement('tr');

                tr.innerHTML = `
                    <td>
                        ${entry.reg_id ?? entry.id}<br>
                        ${entry.room_number}
                    </td>
                    <td>
                        ${entry.name}<br>
                        ${entry.address}
                    </td>
                    <td>
                        ${entry.phone}<br>
                        ${entry.email || ''}
                    </td>
                    <td>
                        ${entry.check_in}<br>
                        ${entry.check_out || 'Present'}
                    </td>
                    <td>
                        ${entry.time_passed}<br>
                        ${entry.total_balance}
                    </td>
                    <td>
                        ${entry.total_paid}<br>
                        ${entry.remaining_balance}
                    </td>
                    <td>
                        <a href="${entry.id}">
                            <button class="btn-primary">Edit</button>
                        </a>
                    </td>
                `;

                tbody.appendChild(tr);
            });
        }
        
        // On Button Click -> Search -> Fetch Data -> Redraw Table
        const paginator = new Paginator({url: '/api/search/register'});
        
        document.getElementById('btn-search').addEventListener('click', async () => {
            const filters = collectFilters();
            paginator.reset();
            const data = await paginator.next(filters);
            if (data) redrawRegisterTable(data);

            document.getElementById('page').value = paginator.page;
        });

        document.getElementById('btn-next').addEventListener('click', async () => {
            const filters = collectFilters();
            const data = await paginator.next(filters);
            if (data.length >= 1) redrawRegisterTable(data);

            document.getElementById('page').value = paginator.page;
        });
        
        document.getElementById('btn-prev').addEventListener('click', async () => {
            const filters = collectFilters();
            const data = await paginator.prev(filters);
            if (data.length >= 1) redrawRegisterTable(data);

            document.getElementById('page').value = paginator.page;
        });
        
        document.getElementById('btn-next').click();

        debounce(() => {document.getElementById('btn-search').click()}, fields.map(id => document.getElementById(id)))
        debounce(async () => {
            const filters = collectFilters();
            const data = await paginator.goTo(document.getElementById('page').value || 1, filters);
            if (data.length >= 1) redrawRegisterTable(data);
        }, fields2.map(id => document.getElementById(id)));
    </script>
{% endblock %}